/* You can add global styles to this file, and also import other style files */

body {
    background-color: #ffffff;
    font-size: 14px;
    color: #000000;
    margin: 0;
}
h1 {    
    border-bottom: 1px solid #AFAFAF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 0px;
}
.Container{
    margin: 0 auto;
    width: 929px;
}

input[type="text"]{
    width:200px;
}

textarea{
    width: 200px;
    height: 100px;
}
.center_content {
    position: relative;
    padding: 5px;

    width: 700px;
    margin: 0 auto;
}
.floatR{
    float:right;
}
